.container {
    gap: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    
}


.div-card {
    display: flexbox;
    margin: 6px;
    padding: 2px;
    text-align: center;
    text-shadow: 0cap;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(231, 67, 25);
    color: rgb(230, 78, 18);
    box-shadow: 10px 6px 6px rgba(211, 211, 211, 0.221);
    width: 230px;
    height: 260px;
    text-shadow: 2px 2px 4px rgba(0, 0, 75, 1);
}

.div-card:hover {
    background-color:rgb(229, 248, 255);
    transition: .5s ease-in;
    box-shadow: 5px 20px 60px rgba(211, 211, 211, 0.519);
}
